body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 60px;
}

a {
  color: #00B7FF;
}

.container {
  float: left;
  margin: 0 0 0 2%;
  position: relative;
  width: 75%;
}

.conalias {
  float: left;
  margin: 0 0 0 2%;
  position: relative;
  width: 75%;
  text-align: center;
}

.container .object {
  box-shadow: 0px 0px 4px 1px #ccc;
  position: absolute;
  width: 120px;
  height: 80px;
  background-color:#AAAABB ;
}


.borderStyle {
  border-style:solid;
  border-color:#ff0000;
  border-radius: 3px;
}

.container .object .placeholder {
  width: 120px;
}

.container .object.ss-moving {
  cursor: move;
  z-index: 9999;
  opacity: .7;
  transform:rotate(2deg);
  -ms-transform:rotate(2deg); /* IE 9 */
  -moz-transform:rotate(2deg); /* Firefox */
  -webkit-transform:rotate(2deg); /* Safari and Chrome */
  -o-transform:rotate(2deg); /* Opera */
}

.container .object img { border-radius: 2px 2px 0 0; }

.shape-oval {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.shape-common {
    float: left;
    margin-left: 15px;
}

.color-red {
  background: #FB000D;
}

.color-blue {
  background: #FB000D;
}

.color-green {
  background: #FB000D;
}

.center
{
  margin-left:auto;
  margin-right:auto;
  width:95%;
}

.left {
    position: relative;
    float: left;
    width:95%;
}

@media screen and (max-width: 1200px) {
  .container .object {
    width: 120px;
    height: 80px;
  }

  .container {
    float: left;
    margin: 0 0 0 2%;
    position: relative;
    width: 75%;
  }

  .container .object .placeholder {
    width: 120px;
    height: 80px;
  }
}



@media screen and (max-width: 800px) {
  .container .object {
    width: 90px;
    height: 80px;
  }

  .container .object .placeholder {
    width: 90px;
    height: 80px;
  }
}